
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

/*Header*/

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color:cornflowerblue;
    /* height: 200px; */
    align-items: center;
}

.header-item {
    display: flex;
    justify-content: flex-end;
    /*background-color: darkorchid;*/
}

.header-item > img {
    border-radius: 50%;
    height: 100px;
    width: 80px;
    
}
.header-container .header-item > h1 {
    color: white;
    font-size: 64px;
    /* display: inline-block; */
    /* background-color: darksalmon; 
    width: 100px; */
    margin: 5px 5px 5px 15px;
    justify-content: flex-start;
    

}

.header-container .header-item > h1:hover {
    background-color: navy;
}



.header-container > nav{
 display: flex;
 flex-direction: row;
 margin: 40px;
 font-size: 24px;
}

 a {
    color: white;
    font-size: 32px;
    padding-right: 10px;

}

.header-container a:hover{
    color:magenta;
    background-color:navy;
    transition: background-color 1s linear;
}


.header-item nav li {
    display: inline-block;
    margin-right: 10px;
    justify-content: flex-end;
}

/*Hero Image Section*/

.hero-image {
    width: 100%;
    /* height: 80px; */
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 240px;;
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.hero-image div {
    color: white;
    font-size: 24px;
    align-items: flex-end;
    position:absolute;
    top: 180px;
    right: 10px;
    font-style: italic;
}

/*Main Section*/
.main-container {
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin:auto;
    flex-basis: 20%;
      /* flex-wrap: wrap;  */
  }
  
  .about-me > div {
    padding: 10px;
    flex: 0 0 77%;
  }
  .about-me h2 {
      font-size: 51px;
      border-right: 4px solid black;
      text-align: right;
      padding-right: 12px;
  }
  
  .about-me p {
    /* padding-left: 16px; */
    margin-bottom: 20px;
  }

  .work{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      width: 80%;
  }

  .work h2 {
    font-size: 64px;
    border-right: 4px solid black;
    text-align: right;
    padding-right: 54px;
}

.work a{
    text-decoration: none;
}
.work div{
    width: 80%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    
}
.work h3{
    font-size: 16px;
}
.projects {
       display: flex;
       flex-wrap: wrap;
       justify-content:center;
       align-items: stretch;
   }
   
  /* .project-one{
      display: flex;
      justify-content: stretch;
      flex-direction: row;
      flex-wrap: wrap;
      background-image: url("../images/project-one.jpg");
      background-size: cover;
      background-position: center;
      min-height: 400px;;
      width: 80%;
      
  } */

 /* .project-item {
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px;
      width: 100px;
      height: 100px;
      border: 8px solid blue;
  } */

  .project-item {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
.project-item:first-child{
    flex:  2 0 80%;
    height: 240px;
    display: flex;
    flex-wrap: wrap;

}
.project-one{
    background-image: url("../images/project-one.jpg");
}

.project-two {
    background-image: url("../images/project-two.jpg");
}

.project-three{
    background-image: url("../images/project-three.jpg");
}

.project-four{
    background-image: url("../images/project-four.jpg");
}

.project-five{
    background-image: url("../images/project-five.jpg");
}

  .contact{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 80%;
      margin: auto;

  }

  .contact ul{
      list-style-type: none;
      padding: 10px;
  }

  .contact ul li a {
      display: inline-block;
  }

  .contact h2 {
    font-size: 51px;
    border-right: 4px solid black;
    text-align: right;
    padding-right: 48px;

  /*Footer Section*/
  .footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   
  }