
/* CSS Variables */
:root{
 --border-right: green;
 --cyan: #00FFFF;


}


body{
    height: 100%;
    min-width: fit-content;
    font-family: 'Baloo 2', cursive;
}

/* Header and Nav Section */
header {
    height: 110px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

header h1 {
    background-color: transparent;
    text-align: right;
    /* padding-left: 290px;
    /* line-height: 62px; */
    /* padding-right: 11px; */ 
    padding: 10px 15px 10px 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url('../images/temi.jpeg');
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: 70% 50%; 
    height: 80px;
    font-size: 36px;
    color: navy;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
}

nav a {
    margin-right: 18px;
    border-bottom: 4px solid var(--cyan);
    height: fit-content;
    font-size: 29px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cyan);
    transition: background-color 1s linear;
}

/* Hero Section */

.hero-image {
    display: flex;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
}

.subtitle {
    margin-bottom: 80px;
    margin-right: 80px;
    background-color: burlywood;
    line-height: 1.5;
    padding: 10px;
    font-size: 32px;
    color:var(--cyan);
    border-radius: 5px;
    /* font-family: var(--font-family);*/
} 

/* Main Page */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 92%;
}

/* About Me Section */
.about-content {
    display: flex;
    flex-direction: column;
    flex-basis: 86%;
    flex-wrap: wrap;
    justify-content: center;
}


.about-me-row {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: space-between;
    padding-top: 30px;
}

.about-me-row h1 {
    font-size: 50px;
    height: 161px;
    width: 13%;
    text-align: right;
    border-right-style: solid;
    border-right-color: var(--border-right);
    padding-right: 10px;
    border-right-width: 4px;
}
.about-me-row p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}


/*  Work Section*/
.work-row {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: space-between;
    padding-top: 30px;
}

.work-row h1 {
    font-size: 50px;
    width: 13%;
    text-align: right;
    border-right-style: solid;
    border-right-color: var(--border-right);
    padding-right: 10px;
    border-right-width: 4px;
}

.work-content {
    display: flex;
    flex-direction: column;
    flex-basis: 86%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Projects Section */
.surf-report {
    min-height: 400px;
    width: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: var(--cyan);
    background-color: darkgrey;
    justify-content: flex-end;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.surf-report a{
    text-decoration: none;
    color: var(--cyan);
}
.led-wall a{
    text-decoration: none;
    color: var(--cyan);
}
.calculator a{
    text-decoration: none;
    color: var(--cyan);
}
.pastel a{
    text-decoration: none;
    color: var(--cyan);
}
.run a{
    text-decoration: none;
    color: var(--cyan);
}

.wall {
    width: 50%;
    border-style: solid;
    border-color: var(--cyan);
    border-width: 6px;
    min-height: 145px;
    max-height: 145px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 22px;
    margin-left: 16px;
}

.surf-report:hover, .wall:hover {
    background-color:darkgoldenrod;
    transition: background-color 1s linear;
}

/* Projects Images */
.led-wall {
    background-image:url(../images/project-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator {
    background-image: url(../images/project-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pastel {
    background-image:url(../images/project-four.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.run {
    background-image:url(../images/project-five.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* End of Project Images */
.wall-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.wall-row :first-child {
    margin-right: 12px;
}

.wall div, .surf-report div {
    background-color:seagreen;
    padding: 10px 11px;
    width: fit-content;
}

/* Contact Me Section */
.contact-me {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: space-between;
    padding-top: 30px;
}

.contact-me h1 {
    font-size: 43px;
    width: 15%;
    text-align: right;
    border-right-style: solid;
    border-right-color: var(--border-right);
    padding-right: 10px;
    border-right-width: 4px;
}

.contact-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.contact-me div a {
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding: 12px 12px 0px 12px;
    border-bottom-color: var(--cyan);
    
}

.contact-me div a:hover {
    background-color: var(--cyan);
    transition: background-color 1s linear;
}


/* Media Queries */

@media screen and (max-width: 400px) {
    body{
      min-width: 120vw;
    }

    header {
        flex-direction: column;
        width: 100%;
    }

    header h1 {
        background-color: var(--cyan);
        text-align: left;
        padding: 10px 15px 10px 81px ;
        background-position: 0%, 0% ;
        margin-top: 5px ;
        display: flex ;
        height: 80px ;
        width: 100% ;
    }

    nav {
        justify-content: center;
        background-color: lightblue;
    }
    nav a {
        font-size: 1.9rem;
    }
}


@media screen and (max-width: 600px) {
    body{
      flex-direction: column;
      flex-wrap: wrap;
    }
    .hero-image{
        width: 100%;
        flex-direction: column;
    }

    .subtitle {
        margin-top: 113px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-row, .work-row, .contact-me {
        flex-direction: column;
    }

    .about-me-row h1, .work-row h1, .contact-me h1 {
        border-right-style: none;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        text-align: left;
        width: 100%;
        height: 60px;
    }

    header {
        flex-direction: column;
        width: 100%;
    }

    header h1 {
        background-color: var(--cyan);
        text-align: left;
        padding: 10px 15px 10px 81px ;
        background-position: 0%, 0% ;
        margin-top: 5px ;
        display: flex ;
        height: 80px ;
        width: 100% ;
    }

    nav {
        justify-content: center;
        background-color: lightblue;
    }
    nav a {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
      min-width: 154vw;
    }

    header {
        flex-direction: column;
        width: 100%;
    }

    header h1 {
        background-color: var(--cyan);
        text-align: left;
        padding: 10px 425px 10px 454px;
        background-position: 0%, 0% ;
        margin-top: 5px ;
        display: flex ;
        height: 80px ;
        width: 100% ;
    }

    nav {
        justify-content: center;
        background-color: lightblue;
    }
    nav a {
        font-size: 1.9rem;
    }

    .wall-row {
        flex-wrap: wrap;
    
    }

    .about-me-row, .work-row, .contact-me {
        flex-direction: column;
    }

    .about-me-row h1, .work-row h1, .contact-me h1 {
        border-right-style: none;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        text-align: left;
        width: 100%;
        height: 60px;
    }
}
